<li [ngClass]="{'completed': todo.completado, 'editing' : editando}">
    <div class="view">
        <input class="toggle" 
               [formControl]="checkCompletado"
               type="checkbox">
        <label (dblclick)="editar()">{{ todo.texto }}</label>
        <button class="destroy"
                (click)="eliminar()">
        </button>
    </div>
    <input class="edit" 
           value="Create a TodoMVC template"
           type="text"
           [formControl]="txtInput"
           (blur)="terminarEdicion()"
           #inputEdit>
</li>